@media (min-width: 676px) {
  body {
    .multimedia-tags-html {
      .element-information,
      .multimedia-tags {
        width: 70%;
      }

      hr {
        width: 70%;
      }
    }
  }
}
@media (min-width: 831px) {
  body {
    .multimedia-tags-html {
      .element-information,
      .multimedia-tags {
        width: 60%;
      }
      hr {
        width: 60%;
      }
    }
  }
}
@media (min-width: 1026px) {
  body {
    .multimedia-tags-html {
      .element-information,
      .multimedia-tags {
        width: 55%;
      }

      hr {
        width: 55%;
      }
    }
  }
}
