@media (min-width: 676px) {
  body {
    .tables-container {
      width: 70%;
    }
    .section-table-tags {
      width: 70%;
    }
    .practic-tables-tags {
      width: 70%;
    }
    .present-format-tables,
    .colrow-tables-tags {
      width: 70%;
    }
    hr {
      width: 70%;
    }
  }
}
@media (min-width: 831px) {
  body {
    .tables-container {
      width: 60%;
    }
    .section-table-tags {
      width: 60%;
    }
    .practic-tables-tags {
      width: 60%;
    }
    .present-format-tables,
    .colrow-tables-tags {
      width: 60%;
    }
    hr {
      width: 60%;
    }
  }
}
@media (min-width: 1026px) {
  body {
    .tables-container {
      width: 55%;
    }
    .section-table-tags {
      width: 55%;
    }
    .practic-tables-tags {
      width: 55%;
    }
    .present-format-tables,
    .colrow-tables-tags {
      width: 55%;
    }
    hr {
      width: 55%;
    }
  }
}
