$bgMainColor: #0c0a10;
$blockMainColor: #1b1a20;
$textMainColor: #ffffff;
$textGrayColor: #c0bebe;
$colorNavigate: #1cd4e2;
$bgNavColor: #0a0c1b;
$GreenSuccess: #195905;
$Error: #800000;
$redCyrcleMacOs: #ff5f57;
$orangedCyrcleMacOs: #febc2e;
$greenCyrcleMacOs: #27c840;
